{% extends 'base.html.twig' %}

{% block title %}Historique des Mouvements de Stock{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Historique des Mouvements de Stock</h1>
        <p>(À implémenter avec une entité StockMovement)</p>
    </div>
{% endblock %}