{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Facture pour Commande #{{ order.id }}</h1>
        <p>(À implémenter avec une bibliothèque PDF comme Dompdf)</p>
    </div>
{% endblock %}